@using Blog.Shared.Utilities.ComplexTypes
@model PostListDto
<div class="card mt-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        posts
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Category Id</th>
                        <th>Content</th>
                        <th>User Id </th>
                        <th>Thumbnail</th>
                        <th>Date</th>
                        <th>Views Count</th>
                        <th>Comment Count</th>
                        <th> Seo Author</th>
                        <th>Seo Description</th>
                        <th>Seo Tags</th>
                        <th>Is Active?</th>
                        <th>Is Deleted?</th>
                        <th>Created Date</th>
                        <th>Created By Name</th>
                        <th>Modified Date</th>
                        <th>Modified By Name</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Title</th>
                        <th>Category Id</th>
                        <th>Content</th>
                        <th>User Id </th>
                        <th>Thumbnail</th>
                        <th>Date</th>
                        <th>Views Count</th>
                        <th>Comment Count</th>
                        <th> Seo Author</th>
                        <th>Seo Description</th>
                        <th>Seo Tags</th>
                        <th>Is Active?</th>
                        <th>Is Deleted?</th>
                        <th>Created Date</th>
                        <th>Created By Name</th>
                        <th>Modified Date</th>
                        <th>Modified By Name</th>
                    </tr>
                </tfoot>
                <tbody>
                    @if (Model.ResultStatus == ResultStatus.Success)
                    {
                        foreach (var item in Model.Entities)
                        {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Category Id</td>
                        <td>@item.Content</td>
                        <td>@item.User Id </td>
                        <td>@item.Thumbnail</td>
                        <td>@item.Date</td>
                        <td>@item.ViewsCount</td>
                        <td>@item.CommentCount</td>
                        <td>@item.SeoAuthor</td>
                        <td>@item.SeoDescription</td>
                        <td>@item.SeoTags</td>
                        <td>@item.IsActive</td>
                        <td>@item.IsDeleted</td>
                        <td>@item.CreatedDate</td>
                        <td>@item.CreatedByName</td>
                        <td>@item.ModifiedDate</td>
                        <td>@item.ModifiedByName</td>
                    </tr>
}
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        // Call the dataTables jQuery plugin
        $(document).ready(function () {
            $('#dataTable').DataTable({
                //stateSave: true,
                //"bDestroy": true
            });
        });
    //$(document).ready(function () {
    //        $('#entitiesDataTable').DataTable({
    //            dom:
    //                "<'row'<'col-sm-3'l><'col-sm-6 text-center'B><'col-sm-3'f>>" +
    //                "<'row'<'col-sm-12'tr>>" +
    //                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
    //            buttons: [
    //                {
    //                    text: 'Create',
    //                    className: 'btn',
    //                    action: function (e, dt, node, config) {
    //                        alert('Button create');
    //                    }
    //                },
    //                {
    //                    text: 'Refresh',
    //                    className: 'btn btn-warning',
    //                    action: function (e, dt, node, config) {
    //                        alert('Button refresh');
    //                    }
    //                }
    //            ]
    //        });
    //});
    </script>
}